body {
  margin: 0 auto;
  background: rgb(8, 8, 8);
  color: rgb(186, 185, 179) !important;
  line-height: 1;
  max-width: 960px;
  padding: 30px;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 24px;
  padding: 0;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
  margin: 24px 0 6px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
.vscode-body blockquote {
  color: rgb(231, 227, 207);
}
.vscode-body pre {
  color: rgb(186, 185, 179);
  background-color: rgba(190, 194, 197, 0.1) !important;
}

.vscode-body code {
  color: rgb(186, 185, 179);
}

.vscode-body pre code {
  color: rgb(186, 185, 179);
}

.hljs-attr {
  color: inherit;
}

.language-yaml .hljs-attr {
  color: #22863a;
}

.hljs-meta {
  color: inherit;
  font-weight: inherit;
}

.hljs-comment,
.hljs-quote {
  color: #6a737d;
  font-style: normal;
}

.hljs-built_in,
.hljs-number,
.hljs-literal,
.hljs-title {
  color: #3892f8;
  font-weight: inherit;
}

.hljs-string {
  color: #b1b1b1;
}

.hljs-params {
  color: #24292e;
}

.hljs-keyword,
.hljs-function {
  color: rgb(192, 51, 98);
  font-weight: inherit;
}

.hljs-function .hljs-title,
.hljs-class .hljs-title {
  color: #713dd1;
  font-weight: inherit;
}
